@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600&family=Nunito:wght@400;500;600;700&display=swap");
@import "abstracts/variables";
@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/utils";

@import "base/base";
@import "base/animations";
@import "base/typography";
@import "base/queries";

@import "components/btn";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  display: grid;
  grid-template-rows: 100vh min-content 40vw repeat(3, min-content);

  grid-template-columns:
    [sidebar-start] 10rem [sidebar-end full-start] minmax(5rem, 1fr)
    [center-start] repeat(
      8,
      [col-start] minmax(min-content, max-content) [col-end]
    )
    [center-end] minmax(5rem, 1fr)
    [full-end];
  //justify-content: center;
}
