@import "../../../../app/styles/globals";

.sidebar {
  background-color: antiquewhite;
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1/-1;
  background-color: $color-primary;

  .bars {
    text-align: center;

    &__bar {
      display: block;
      height: 1.5rem;
      font-size: 4.5rem;
      color: white;
      cursor: pointer;
    }
  }
}
