@import "../../../../app/styles/globals";

.header {
  background-color: aliceblue;
  grid-column: sidebar-end / col-end 6;
  grid-row: 1 / 2;
  background-image: linear-gradient(
      rgba($color-secondary, 0.95),
      rgba($color-secondary, 0.95)
    ),
    url(/images/hero.jpeg);
  padding: 6rem 8rem;
  background-size: cover;
  display: grid;
  grid-template-rows: 1fr min-content 6rem 1fr;
  grid-template-columns: max-content;
  grid-gap: 1.5rem;
  justify-content: center;

  &__logo {
    justify-self: center;
  }

  &__btn {
    margin-top: 2rem;
    width: fit-content;
    height: fit-content;
  }

  &__text {
    width: 100%;
    justify-self: center;
    color: $color-grey-light-2;
    font-size: 1.4rem;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-gap: 1.5rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 1rem;

    &::before {
      content: "";
      grid-column: 1 / span 1;
      height: 1.5px;
      display: block;
      background-color: $color-grey-light-2;
      border-radius: 3px;
    }

    &::after {
      content: "";
      grid-column: 3 / -1;
      height: 1.5px;
      display: block;
      background-color: $color-grey-light-2;
      border-radius: 3px;
    }
  }

  &__images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 3rem;
    justify-items: center;

    img {
      object-fit: contain;
      filter: brightness(70%);
    }
  }
  // &__heading {
  //   font-family: $font-display;
  //   font-size: 4rem;

  //   font-weight: 800;
  //   display: inline-block;
  //   color: $color-grey-light-1;
  // }

  // &__recommends {
  //   grid-column: 1/-1;
  //   display: grid;
  // }
}
